.servermessage-container {
	margin-bottom: 2%;
	width: 90%;
	padding: var(--small-increment);
	margin-left: auto;
	margin-right: auto;
	/* Ensuring that this will always be seen */
	z-index: 72;
	text-align: center;

	cursor: default;

	--server-error-color: #c76969;
	--server-success-color: #69c782;
}

.server-message {
	font-size: 1.1em;
}

.server-message-error {
	background: var(--server-error-color);
}

.server-message-success {
	background: var(--server-success-color);
}
