.messagepreview-container {
	background: var(--color-mist-secondary);
	padding: var(--medium-increment);
	width: 46%;
	margin: var(--small-increment);
	box-shadow: var(--shadow-1);
	cursor: pointer;
	transition: background 0.2s;
}

.messagepreview-container:hover {
	background: var(--blueish-white);
}

.messagepreview-title {
	font-size: 1.2em;
	font-weight: bold;
}

.messagepreview-sender {
	font-size: 0.8em;
}

.messagepreview-datesent {
	font-size: 0.8em;
}

@media only screen and (max-width: 1200px) {
	.messagepreview-container {
		width: 100%;
		margin: 0 auto var(--small-increment) auto;
	}
}
