.preview-container {
	width: 48%;
	max-height: 140px;
	overflow-y: hidden;
	cursor: pointer;
	background: var(--color-mist-secondary);
	padding: var(--medium-increment);
	margin: var(--medium-increment) 1%;
	box-shadow: var(--shadow-2);
	transition: background 0.2s;
}

.preview-container:hover {
	background: #f1fbfd;
}

.preview-title {
	font-weight: 800;
	font-size: 1.3em;
}

.preview-title-type {
	font-size: 0.9em;
	text-transform: uppercase;
	position: relative;
	bottom: 0.1em;
	color: #af055c;
}

.preview-owner {
	font-size: 0.9em;
}

.preview-body {
	font-size: 1.03em;
	line-height: 125%;
}

@media only screen and (max-width: 820px) {
	.preview-container {
		width: 90%;
		margin: var(--medium-increment) auto 0 auto;
	}
}