.loginmodal-content-container {
	background: var(--light-gray-secondary);
	min-width: 400px;
	width: 30vw;
}

.loginmodal-header { 
	display: flex;
	flex-direction: row;
	text-align: center;
	font-size: 20px;
	margin-bottom: var(--medium-increment);
	font-weight: bold;
	box-sizing: border-box;
}

.loginmodal-title {
	width: 50%;
	padding: var(--small-increment);
	cursor: pointer;
}

.loginmodal-login-header {
	border-right: 1px solid var(--dark-gray);
}

.loginmodal-submit-button{
	width: 90%;
	margin: 0 auto var(--standard-increment);
}

.current-loginmodal-title {
	border: 3px solid #797979;
}

.not-current-loginmodal-title {
	background: var(--dark-gray);
	color: white;
	border: 3px solid var(--dark-gray);
}

.login-register-input {
	border: 3px solid var(--dark-gray);
}

.login-register-label {
	background: var(--dark-gray);
	margin-bottom: 0;
	padding: var(--small-increment) var(--medium-increment);
	width: max-content;
	display: inline-block;
	color: var(--white);
	position: relative;
	height: 30px;
	font-size: 1em;
}

.loginmodal-submit-button {
	background: var(--color-green);
}

.loginmodal-submit-button:hover {
	background: var(--color-green-secondary);
}
