.modal-container {
	display: flex;
	justify-content: center;
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: rgba(43, 43, 43, 0.8);
	top: 0;
	left: 0;
	z-index: 3;
	overflow-y: hidden;
}

.modal-background {
	width: 100%;
}

.modal {
	display: flex;
	position: absolute;
	top: 20%;
}
