.messages-container {
	padding: var(--medium-increment);
}

.messages-preview-container {
	display: flex;
	flex-wrap: wrap;
	padding: var(--medium-increment);
}

.messages-title {
	font-size: 1.8em;
	font-weight: bold;
	padding-bottom: var(--small-increment);
	border-bottom: 4px solid var(--dark-gray);
	width: 15%;
	text-align: center;
	margin-left: var(--medium-increment);
}
