.messages-container {
	padding: var(--medium-increment);
}

.messages-preview-container {
	display: flex;
	flex-wrap: wrap;
	padding: var(--medium-increment);
}

.messages-title {
	font-size: 1.8em;
	font-weight: bold;
	padding-bottom: var(--small-increment);
	border-bottom: 4px solid var(--dark-gray);
	min-width: max-content;
	width: 15%;
	text-align: center;
	margin-left: var(--medium-increment);
}

@media only screen and (max-width: 1200px) {
	.messages-title {
		margin-left: 6%;
	}
}


@media only screen and (max-width: 820px) {
	.messages-title {
		width: 60%;
		margin: 0 auto;
		border-color: rgba(255,255,255, 0.8);
	}

	.messages-preview-container {
		flex-direction: column;
		flex-wrap: nowrap;
	}
}