.navbar {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 153px;
	background: var(--color-mist-secondary);
	padding: 0.5em 0;
	min-height: 320px;
	border-right: 3px solid var(--color-mist-quaternary);
}

.nav-item-text {
	font-size: 20px;
}