.projects-container {
	display: flex;
	min-height: 100vh;
}

.projects-groups {
	width: 60%;
	background: var(--color-light-blue-tertiary);
}

.projects-data {
	width: 40%;
	background: var(--color-light-blue-secondary);
}

.projects-other {
	width: 20%;
	background: var(--color-light-blue);
}

.projects-page-title {
	font-size: 1.7em;
	font-weight: bold;
	margin: var(--medium-increment) 0;
	border-bottom: 3px solid var(--dark-gray);
	width: max-content;
	text-align: center;
	margin-left: 10%;
	padding-bottom: calc(var(--small-increment) / 2);
}

.projects-create-btn {
	background: var(--dark-gray);
	color: var(--white);
	text-align: center;
	font-size: 1.4em;
	padding: var(--medium-increment);
	margin: var(--small-increment) auto;
	width: 80%;
	transition: background 0.2s;
	box-shadow: var(--shadow-1);
}

.projects-create-btn:hover {
	background: var(--light-gray);
}

@media only screen and (max-width: 820px) {
	.projects-container {
		flex-direction: column;
	}

	.projects-groups, .projects-other, .projects-data {
		width: 100%;
		padding-bottom: var(--standard-increment);
	}

	.projects-page-title {
		border-color: rgba(255,255,255, 0.4);
		min-width: max-content;
		width: 40%;
		margin: var(--medium-increment) auto;
	}

}
