.updatepassword-modal-container {
	background: var(--light-gray-secondary);
	width: 40vw;
	min-width: 400px;
}

.updatepassword-modal-title {
	background: var(--dark-gray);
	color: white;
	font-size: 2em;
	padding: calc(var(--small-increment) / 2);
	margin-bottom: var(--small-increment);
	text-align: center;
}

.updatepassword-modal-submit {
	width: 90%;
	margin: 0 auto;
	background: var(--color-green);
	margin-bottom: var(--standard-increment);
}

.updatepassword-modal-submit:hover {
	background: var(--color-green-secondary);
}

.updatepassword-modal-input {
	border: 3px solid var(--dark-gray);
}

.update-password-label {
	background: var(--dark-gray);
	margin-bottom: 0;
	width: max-content;
	padding: var(--small-increment) var(--medium-increment);
	color: var(--white);
	font-size: 1em;
}
