.updatepassword-modal-container {
	background: #898989;
	width: 40vw;
	min-width: 400px;
}

.updatepassword-modal-title {
	background: var(--dark-gray);
	color: white;
	font-size: 2em;
	padding: calc(var(--small-increment) / 2);
	margin-bottom: var(--small-increment);
	text-align: center;
}

.updatepassword-modal-submit {
	width: 90%;
	margin: 0 auto;
	background: var(--color-green);
	margin-bottom: var(--standard-increment);
}

.updatepassword-modal-submit:hover {
	background: var(--color-green-secondary);
}
