body {
  background: var(--bg-color);
}

.App {
  height: 100vh;
  /* 153px because nav is exactly 153px pushes to right of nav */
  margin-left: 153px;
}

.content {
  display: flex;
  background: var(--blueish-white);
  flex-direction: column;
  min-height: 100%;
  width: 98%;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-mist-secondary);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
