:root {
  --bg-color: #e1efff;
  --bg-color-content: #f4faff;

  --color-light-blue: rgb(194,214,234);
  --color-light-blue-secondary: rgb(207,227,238);
  --color-light-blue-tertiary: rgb(181, 205, 230);

  --color-mist: rgb(178,204,215);
  --color-mist-secondary:rgb(205,229,234);
  --color-mist-tertiary: rgb(174, 199, 209);
  --color-mist-quaternary: rgb(76, 105, 117);

  --color-tacao: #e8b37d;
  --color-tacao-secondary: #e3bc94;

  --color-dark-blue: rgb(71,124,179);
  --color-dark-blue-secondary: rgb(92,152,214);

  --color-green: #55b66e;
  --color-green-secondary: #4ba362;
  --color-green-tertiary: #34e562;

  /* to be consistant with the rest of the css variables */
  --color-orange: orange;
  --color-orange-secondary: #d78b00;

  --small-increment: 0.4em;
  --medium-increment: 0.8em;
  --standard-increment: 1.4em;

  --base-color-turquoise: rgb(18 97 105);

  --blueish-white: #e9f7fa;

  --dark-gray: #3d3d3e;

  --white: #f1fbfd;
  --shadow-1: 6px 6px 4px -4px rgba(0, 0, 0, 0.1);
  --shadow-2: 6px 6px 4px -4px rgba(0, 0, 0, 0.2);

  --color-red: #fd7272;
  --color-red-secondary: #f95959;
}

/* CSS Reset */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
  border-radius: 0;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: black;
  text-decoration: none;
}

button::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner {
  padding: 0 !important;
  border: 0 none !important;
}
