.survey-create-header {
	display: flex;
	justify-content: space-between;
	padding: var(--small-increment);
	margin-bottom: 0;
}

.survey-create-type {
	width: 5%;
	font-size: 2.2em;
	background: var(--white);
	min-width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}
.ff-radio, .ff-checkbox {
	color: var(--color-green);
}

.ff-formfield {
	color: var(--color-red);
}

.createsurvey-page {
	width: 90%;
	margin: 0 auto;
	padding: var(--medium-increment);
	background: var(--color-light-blue-secondary);
	min-height: 100vh;
}

.create-survey-contents {
	width: 85%;
	margin: 0 auto;
}

.create-survey-title {
	text-align: center;
	font-size: 2em;
	margin-bottom: var(--medium-increment);
}

.submit-survey-button, .preview-survey-button {
	width: 49%;
	margin: var(--medium-increment) var(--small-increment);
	display: block;
	background: var(--color-green);
	padding: var(--medium-increment);
	font-size: 1.1em;
}

.preview-survey-button {
	background: #a0b9ff;
}

.preview-survey-button:hover {
	background: #8fa9f1;
}

.create-survey-buttons-container {
	display: flex;
	justify-content: center;
}

.submit-survey-button:hover {
	background: var(--color-green-secondary);
}

.create-survey-controls {
	margin: 0 auto;
	background: var(--color-mist);
	display: flex;
	padding: var(--medium-increment);
	justify-content: space-around;
	box-shadow: var(--shadow-2);
}

.survey-text-icon {
	color: #c56c81;
}

.survey-remove-formfield-btn {
	background: var(--color-red);
	min-width: 150px;
	width: 20%;
	position: relative;
	padding: var(--small-increment);

}

.survey-remove-formfield-btn:hover {
	background: var(--color-red-secondary);
}

/*
Using !important because im unsure of render order, as of testing it isn't 
required but using it here for clarity, also .form-control container is from 
a diff component and but I need it here to overwrite the default one from that component
*/

.fc-container:hover .survey-text-icon {
	color: #c74564 !important;
}

/* Formfield styles */

.survey-text-inputfield {
	display: flex;
	flex-direction: column;
	width: 92%;
}

.survey-field-container {
	background: var(--color-mist);
	margin-bottom: var(--small-increment);
	padding: var(--medium-increment);
}

.survey-field-description, .survey-field-title {
	border: 0;
	outline: 0;
	background: var(--white);
	text-align: center;
	display: block;
}

.survey-field-title {
	font-size: 1.3em;
	padding: calc(var(--small-increment) / 2);
	margin-bottom: var(--small-increment);
}

.survey-field-description {
	font-size: 1.1em;
	padding: calc(var(--small-increment) / 2);
	resize: none;
	height: 3em;
}

.create-survey-formfield-footer {
	display: flex;
	justify-content: flex-end;
	margin-top: var(--small-increment);
}

.create-survey-option-container {
	display: flex;
	justify-content: space-between;
	margin: var(--small-increment) 0;

}

.create-survey-option {
	width: 88%;
	display: flex;
	align-items: center;
	font-size: 1.2em;
	padding-left: 1em;
	background: var(--color-light-blue-tertiary);
}

.selects-options-container {
	background: var(--color-light-blue-secondary);
	padding: var(--small-increment);
	margin: var(--medium-increment) 0;
}

.create-survey-remove-option {
	width: 10%;
	background: var(--color-red);
	box-shadow: none;
}

.create-survey-remove-option:hover {
	background: var(--color-red-secondary);
}

.create-survey-options-input-container {
	display: flex;
}

.create-survey-add-option-btn {
	width: 10%;
	background: var(--color-green);
}

.create-survey-create-option {
	width: 90%;
	outline: none;
	border: 0;
	text-indent: 4em;
	font-size: 1.2em;
}

.create-survey-add-option-btn:hover {
	background: var(--color-green-secondary);
}

/* ----- */

.selects-options-formfield {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.create-survey-numberfield {
	display: flex;
	flex-wrap: wrap;
}

.create-survey-numberfield {
	background: var(--color-light-blue-tertiary);
	margin-top: var(--small-increment);
	padding: var(--medium-increment);
}

.create-survey-number-label {
	text-transform: uppercase;
	padding: var(--small-increment);
}

.create-survey-number-input {
	padding: var(--small-increment);
	outline: none;
	border: none;
	font-size: 1.1em;
	text-align: center;
}
